body {
    margin: 0;
    padding: 0;
}

/* Main Elements */

a {
    font-size: 3rem;
    color: darkgray;
    text-decoration: none;
}

/* Body */

.banner {
    position: absolute;
    width: 100vw;
    height: 11rem;
    top: 0;
    background-color: salmon;
    background-image: url(Images/Texture.png);
    background-repeat: repeat;
    background-size: 18%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

    .gallery_container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        align-items: center;
        flex: 40%;
    }

        .gal_button {
            margin-top: 11rem;
            font-size: 5rem;
        }

        .gal_box {
            display: flex;
            flex-direction: row;
        }

            .gal_side {
                height: 250px;
            }

            .gal_links {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

        .gal_underline {
            width: 250px;
        }

    .img_container {
        flex: 60%;
        display: flex;
        height: 90vh;
    }
    
    img {
        height: 100%;
    }