* {
    margin: 0;
    color: white;
}

a {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body.show {
    overflow: visible;
}

/* #overflow {

}

#overflow.show {

} */

#backgroundStars {
    height: 200%;
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./Images/stars.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 1.5s ease-out;
    display: inline;

    animation-name: floating;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#backgroundStars.hide {
    display: none;
}

    #backgroundStars.zoomedIn {
        animation-duration: 2s;
    }

#backgroundImage {
    height: 150%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./Images/cut\ the\ ego\ new.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 1.5s ease-out;
    display: inline;
}

#backgroundImage.main {
    transform: scale(100%) translateX(0px) translateY(0px);
}

#backgroundImage.gallery {
    transform: scale(250%) translateX(600px) translateY(170px);
}

#backgroundImage.homework {
    transform: scale(300%) translateX(-100px) translateY(50px);
}

#backgroundImage.feedback {
    transform: scale(250%) translateX(-800px) translateY(170px);
}

#backgroundImage.socials {
    transform: scale(300%) translateX(-200px) translateY(200px);
}

#backgroundImage.gifs {
    display: none;
}

.gallery_container  {
    position: absolute;
    top: 150px;
    left: 150px;
    padding: 1.5rem;
    /* background-repeat: no-repeat; */
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.homework_container  {
    position: absolute;
    top: 280px;
    left: 730px;
    padding: 1.5rem;
    /* background-repeat: no-repeat; */
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.feedback_container  {
    position: absolute;
    top: 200px;
    left: 1100px;
    padding: 1.5rem;
    /* background-repeat: no-repeat; */
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.socials_container  {
    position: absolute;
    top: 150px;
    left: 900px;
    padding: 1.5rem;
    /* background-repeat: no-repeat; */
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.socials_header {
    transition: all 5s ease-in-out;
}

#shimer2, #shimer1, #shimer3, #shimer4 {
    position: absolute;
    background-image: url(./Images/shimer.png);
    background-size: contain;
    width: 60px;
    height: 60px;
}

    #shimer1, #shimer3 {
       animation-name: spinAndShineV1;
       animation-duration: 45s;
       animation-iteration-count: infinite;
       transition: transform 0.5s ease-in;
       transform: scale(0%);
   }

   #shimer2, #shimer4 {
      animation-name: spinAndShineV2;
      animation-duration: 35s;
      animation-iteration-count: infinite;
      transition: transform 0.5s ease-in;
      transform: scale(0%);
    }

    #shimer1.hide, #shimer2.hide, #shimer3.hide, #shimer4.hide {
        animation-name: hide;
        animation-duration: 0.7s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }
    

.link_button {
    opacity: 0;
    transition: opacity 0.7s ease-out;
    display: inline-block;
    color: darkcyan;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
}

    #gal_links.hide, #home_links.hide, #socal_links.hide, #feed_links.hide {
        display: none;
        cursor: pointer;
    }

.gallery_container:hover :nth-child(1), .homework_container:hover :nth-child(1), .feedback_container:hover :nth-child(1), .socials_container:hover :nth-child(1){
    opacity: 100;
    z-index: 2;
}

#link_container1, #link_container2, #link_container3, #link_container4 {
    opacity: 0;
    display: none;
    width: max-content;
    transition: opacity 1s ease-out;
}

#link_container1 > * , #link_container2 > *, #link_container3 > * , #link_container4 > * {
    transition: opacity 1.5s ease-in;
}

#link_container1.active {
    opacity: 100;

    display: flex;
    flex-direction: column;
    font-size: 5rem;
    justify-content: space-between;

    position: absolute;
    top: -100px;
    left: 50px;
}

#link_container2.active {
    opacity: 100;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    justify-content: space-between;

    position: absolute;
    top: -200px;
    left: -500px;
}

#link_container3.active {
    opacity: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    justify-content: space-between;

    position: absolute;
    top: 0px;
    left: -800px;
    width: max-content;
    height: 100%;
}

#link_container4.active {
    opacity: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    justify-content: space-between;

    position: absolute;
    top: 0px;
    left: -550px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: min-content;
}
    .link_box {
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 3.5rem;
        flex-shrink: 1 1 50%;
        width: 700px;
    }
/* 
    .link_box > * {
        transition: all 0.5s ease-in-out;
    } */

/* Nav Bar */

#nav_bar {
    position: fixed;
    /* width: calc(100vw/2.5); */
    width: 100%;
    height: 60px;
    bottom: 0;
    display: none;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 100%);
    z-index: 4;
}

#nav_bar.show {
    display: flex;
    justify-content: center;
}

#nav_bar > div{
    height: 100%;
    background-size: contain;
}

.nav_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
}

.nav_links * {
    color: white;
    cursor: pointer;
}

/*
        Gallery css
*/

#gifs_links {
    cursor: pointer;
}
 
#gifs_box_container {
    top: 1500px;
    transition: all 1s ease-in-out;
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 6rem 0 6rem 0;
    background-color: darkslategray;
    flex-direction: column;
}

#gifs_box_container.open {
    top: 0px;

}

/*
#gifs_box_container > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    height: min-content;
    max-width: 35rem;
    flex-wrap: wrap;
    flex-basis: 48%;
} */

.gifs_box_left, .gifs_box_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    max-width: 35rem;
    min-width: 17rem;
    flex-wrap: wrap;
}

.box {
    /* flex: 1 1 17rem; */
    width: 32rem;
    height: 32rem;
    position: none;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    transition: color 0.4s ease-out;
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.box_long {
    width: 35rem;
}

.box > :nth-child(1) {
    flex: 90%;
    display: none;
}
.box > :nth-child(2) {
    flex: 10%;
    display: none; 
}

.box:hover > * {
    text-shadow: 10px 10px 20px rgb(0, 0, 0),
    -10px 10px 20px rgb(0, 0, 0),
    -10px -10px 20px rgb(0, 0, 0),
    10px -10px 20px rgb(0, 0, 0);
    color: rgb(235, 234, 222);
    transition: color 1s ease-in;
    transition: text-shadow 1s ease-in;
}

#GIF1_img {
    background-image: url(Images/Niks_Zilite_Augs_JPEG.jpg);
}

    #GIF1_gif.active {
        display: inline-block;
        position: fixed;
        width: 100dvw;
        height: 100dvh;
        background-repeat: no-repeat;
        background-color: var(--DarkBlue);
        background-image: url(GIFs/Niks_Zilite_Augs.gif);
        top: 0;
        left: 0;
        cursor: pointer;

        background-position-y: 50%;
        background-position-x: 50%;
        background-size: 90vh;
    }

    #GIF2_img {
        background-image: url(Images/Niks_Zilite_VideoGIF_JPEG.jpg);
    }
    
        #GIF2_gif {
            display: none;
        }
    
        #GIF2_gif.active {
            display: inline-block;
            position: fixed;
            width: 100dvw;
            height: 100dvh;
            background-repeat: no-repeat;
            background-color: var(--DarkBlue);
            background-image: url(GIFs/Niks_Zilite_VideoGIF.gif);
            top: 0;
            left: 0;
            cursor: pointer;

            background-position-y: 50%;
            background-position-x: 50%;
            background-size: 90vh;
        }

        #GIF3_img {
            background-image: url(Images/NiksZilite_Roto_JPEG.jpg);
        }
        
            #GIF3_gif {
                display: none;
            }
        
            #GIF3_gif.active {
                display: inline-block;
                position: fixed;
                width: 100dvw;
                height: 100dvh;
                background-repeat: no-repeat;
                background-color: var(--DarkBlue);
                background-image: url(GIFs/NiksZilite_Roto.gif);
                top: 0;
                left: 0;
                cursor: pointer;

                background-position-y: 50%;
                background-position-x: 50%;
                background-size: 90vh;
            }

        #GIF4_img {
            background-image: url(Images/Niks_Zilite_Masking_JPEG.jpg);
            background-size: cover;
        }
        
            #GIF4_gif {
                display: none;
            }
        
            #GIF4_gif.active {
                display: inline-block;
                position: fixed;
                width: 100dvw;
                height: 100dvh;
                cursor: pointer;

                background-repeat: no-repeat;
                background-color: var(--DarkBlue);
                background-image: url(GIFs/Niks_Zilite_Masking.gif);
                top: 0;
                left: 0;

                background-position-y: 50%;
                background-position-x: 50%;
                background-size: 80vw;
            }

        #GIF5_img {
            background-image: url(Images/Animation\ 6FPS_JPEG.jpg);
            background-size: cover;
        }
        
            #GIF5_gif {
                display: none;
            }
        
            #GIF5_gif.active {
                display: inline-block;
                position: fixed;
                width: 100dvw;
                height: 100dvh;
                background-repeat: no-repeat;
                background-color: var(--DarkBlue);
                background-image: url(GIFs/Animation\ 6FPS.gif);
                top: 0;
                left: 0;
                cursor: pointer;

                background-position-y: 50%;
                background-position-x: 50%;
                background-size: 90vw;
            }

/* Animations */

@keyframes floating {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(-30px, 50px); }
    50% { transform: translate(0px, 100px); }
    75% { transform: translate(30px, -50px);}
    100% { transform: translate(-0px, -0px); }
}

@keyframes spinAndShineV1 {
    0% { transform: rotate(0deg) scale(0%); }    
    1% { transform: rotate(0deg) scale(100%); }
    50% { transform: rotate(180deg) scale(170%); } 
    100% { transform: rotate(360deg) scale(100%); }
}

@keyframes spinAndShineV2 {
    0% { transform: rotate(0deg) scale(0%); }    
    1% { transform: rotate(45deg) scale(170%); }
    50% { transform: rotate(180deg) scale(100%); } 
    100% { transform: rotate(405deg) scale(170%); }
}

@keyframes hide {
    0% { transform: rotate(0deg) scale(0); }
    1% { transform: rotate(0deg) scale(100%); } 
    100% { transform: rotate(360deg) scale(0%); }
}

.custom-cursor {
    cursor: url('Images/mouse_normal.png'), auto; /* Custom cursor */
}
