body {
    margin: 0;
    padding: 0;
    height: fit-content;
}

/* Main Elements */

a {
    font-size: 3rem;
    color: darkgray;
    text-decoration: none;
}

/* Feedback Button */

    .feedbackButton {
        position: fixed;
        top: 5%;
        right: 5%;
    }

    .feedbackButton > * {
        height: 7rem;
    }

    .inputContainer {
        position: absolute;
        top: -1000px;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s ease-out;
    }

    .inputContainer.active {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 24rem;
        width: 42rem;
        background-color: bisque;
        border: solid 2px black;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 1s ease-in;
    }

    .contactForm {
        z-index: 3;
    }

/* Body */

.banner {
    position: absolute;
    width: 21rem;
    height: 100%;
    top: 0;
    background-color: salmon;
    background-image: url(Images/Texture.png);
    background-repeat: repeat;
    background-size: 55%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    .gallery_container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
        flex: 50%;
        padding: 5rem 2rem 5rem 0;
        gap: 1.5rem;
    }

        .gal_button {
            font-size: 5rem;
        }

        .gal_box {
            display: flex;
            flex-direction: row;
        }

            .gal_side {
                height: 250px;
            }

            .gal_links {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

        .gal_underline {
            width: 20rem;
        }

    .feedback_container {
        border: solid 2px black;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }

        .--Name {
            font-size: 2rem;
        }

        .--Abaut {
            font-size: 1.5rem;
        }

        .--Text {

        }

        .--Date {
            display: flex;
            justify-content: right;
            color: rgb(58, 58, 58);
        }

    .img_container {
        flex: 50%;
        display: flex;
        justify-content: left;
        height: 80vh;
    }

    .clock {
        position: fixed;
        padding-top: 3rem;
        top: 0;
        height: 85%;
    }